<form class="form-inline">
  <input type="text" placeholder="Filter by Account Group" data-provide="typeahead">&nbsp;&nbsp;
  Access Data From:&nbsp;&nbsp;
  <div class="input-append date" id="dp3" data-date="12-02-2012" data-date-format="mm-dd-yyyy">
    <input class="span2" size="16" type="text" value="12-02-2012" readonly="">
    <span class="add-on"><i class="icon-calendar"></i></span>
  </div>
  &nbsp;&nbsp;To&nbsp;&nbsp;
  <div class="input-append date" id="dp3" data-date="12-02-2012" data-date-format="mm-dd-yyyy">
    <input class="span2" size="16" type="text" value="12-02-2012" readonly="">
    <span class="add-on"><i class="icon-calendar"></i></span>
  </div>&nbsp;&nbsp;

  <input type="text" id="default_widget" class="mtz-monthpicker-widgetcontainer">
  <div id="flash_message"></div>
  <a href="http://www.eyehanddesign.com/SmartSEM/#generateModal" role="button" data-toggle="modal" class="btn btn-primary">Email Reports</a>
</form>

<script>
  $(document).ready(function(){
    $("#default_widget").bind("monthpicker-click-month", function(e){
      $.get("/set_month/"+$(this).val(), function(data){
        $("#flash_message").html(data["message"]).fadeIn();
        setTimeout(function() {
            $("#flash_message").fadeOut(1000);
          }, 1000);
        });
    });
  });
</script>

