#flash_message{
  background-color:green;
  opacity:0.5;
  color:white;
  padding: 2px 5px;
  border-radius: 5px;
  display:none;
}

#default_widget{
  width: 100px;
}

#flash_message.success{
  background-color: green;
}

#flash_message.error{
  background-color: red;
}
