#flash_message{
  position:absolute;
  right:340px;
  background-color:green;
  opacity:0.5;
  color:white;
  margin-top:10px;
  padding: 2px 5px;
  border-radius: 5px;
  display:none;
}

#default_widget{
  width: 100px;
}
