  <h2 id="google-ad-words">Walters Golf - October 2012 Google Ad Words</h2>	
  <table class="table table-striped table-bordered" style="font-size: 12px;">
    <thead>
      <tr>
        <th>Search Term</th>	
        <th>Clicks</th>	
        <th>Impressions</th>	
        <th>Click Rate</th>	
        <th>CPC</th>	
        <th>Total Cost</th>	
        <th>Rank</th>	
        <th>Sales</th>	
        <th>Sales $$</th>
      </tr>
    </thead>
    <tbody>
<tr class="error"><td>mesquite golf getaway</td><td>0</td><td>38</td><td>0</td><td>0</td><td>0</td><td>3.97</td><td>0</td><td>0</td></tr>
<tr><td>Los Prados golf</td><td>0</td><td>36</td><td>0</td><td>0</td><td>0</td><td>4.39</td><td>0</td><td>0</td></tr>
<tr><td>las vegas theme weddings</td><td>0</td><td>34</td><td>0</td><td>0</td><td>0</td><td>5.12</td><td>0</td><td>0</td></tr>
<tr><td>mesquite nevada golf course</td><td>0</td><td>34</td><td>0</td><td>0</td><td>0</td><td>3.97</td><td>0</td><td>0</td></tr>
<tr class="success"><td>golf las vegas strip</td><td>0</td><td>34</td><td>0</td><td>0</td><td>0</td><td>2.65</td><td>0</td><td>0</td></tr>
<tr><td>las vegas helicopter wedding</td><td>0</td><td>34</td><td>0</td><td>0</td><td>0</td><td>7.32</td><td>0</td><td>0</td></tr>
<tr><td>gazebo wedding las vegas</td><td>0</td><td>34</td><td>0</td><td>0</td><td>0</td><td>8.56</td><td>0</td><td>0</td></tr>
<tr><td>las vegas banquet hall</td><td>0</td><td>33</td><td>0</td><td>0</td><td>0</td><td>6.03</td><td>0</td><td>0</td></tr>
<tr><td>mesquite golfing</td><td>0</td><td>33</td><td>0</td><td>0</td><td>0</td><td>5.18</td><td>0</td><td>0</td></tr>
<tr><td>golf courses near las vegas</td><td>0</td><td>32</td><td>0</td><td>0</td><td>0</td><td>6.13</td><td>0</td><td>0</td></tr>
<tr><td>red rock golf course las vegas</td><td>0</td><td>31</td><td>0</td><td>0</td><td>0</td><td>5.68</td><td>0</td><td>0</td></tr>
<tr><td>best mesquite golf</td><td>0</td><td>30</td><td>0</td><td>0</td><td>0</td><td>3.73</td><td>0</td><td>0</td></tr>
<tr class="success"><td>elvis weddings las vegas</td><td>0</td><td>30</td><td>0</td><td>0</td><td>0</td><td>8.97</td><td>0</td><td>0</td></tr>
<tr><td>golf courses in las vegas nv</td><td>0</td><td>30</td><td>0</td><td>0</td><td>0</td><td>3.63</td><td>0</td><td>0</td></tr>
<tr><td>golf vacation mesquite</td><td>0</td><td>28</td><td>0</td><td>0</td><td>0</td><td>6.07</td><td>0</td><td>0</td></tr>
<tr><td>caterers in las vegas</td><td>0</td><td>28</td><td>0</td><td>0</td><td>0</td><td>6.96</td><td>0</td><td>0</td></tr>
<tr><td>mesquite hotel golf</td><td>0</td><td>26</td><td>0</td><td>0</td><td>0</td><td>6.54</td><td>0</td><td>0</td></tr>
<tr><td>tuscany golf las vegas</td><td>0</td><td>26</td><td>0</td><td>0</td><td>0</td><td>5.69</td><td>0</td><td>0</td></tr>
<tr><td>las vegas reception</td><td>0</td><td>25</td><td>0</td><td>0</td><td>0</td><td>3.96</td><td>0</td><td>0</td></tr>
<tr><td>mesquite golf vacations</td><td>0</td><td>25</td><td>0</td><td>0</td><td>0</td><td>6.32</td><td>0</td><td>0</td></tr>
<tr><td>bali hai golf course las vegas nv</td><td>0</td><td>25</td><td>0</td><td>0</td><td>0</td><td>1.16</td><td>0</td><td>0</td></tr>
<tr><td>las vegas cheap weddings</td><td>0</td><td>24</td><td>0</td><td>0</td><td>0</td><td>6</td><td>0</td><td>0</td></tr>
<tr><td>elvis wedding las vegas</td><td>0</td><td>23</td><td>0</td><td>0</td><td>0</td><td>7.65</td><td>0</td><td>0</td></tr>
<tr><td>royal link vegas</td><td>0</td><td>23</td><td>0</td><td>0</td><td>0</td><td>1.43</td><td>0</td><td>0</td></tr>
<tr><td>las vegas receptions</td><td>0</td><td>22</td><td>0</td><td>0</td><td>0</td><td>6.95</td><td>0</td><td>0</td></tr>
<tr><td>outdoor las vegas weddings</td><td>0</td><td>22</td><td>0</td><td>0</td><td>0</td><td>7.55</td><td>0</td><td>0</td></tr>
<tr><td>tee mates las vegas</td><td>0</td><td>21</td><td>0</td><td>0</td><td>0</td><td>1.67</td><td>0</td><td>0</td></tr>
<tr><td>coyote springs golf course las vegas</td><td>0</td><td>21</td><td>0</td><td>0</td><td>0</td><td>4.05</td><td>0</td><td>0</td></tr>
<tr><td>golf and las vegas</td><td>0</td><td>19</td><td>0</td><td>0</td><td>0</td><td>1.53</td><td>0</td><td>0</td></tr>
<tr><td>vegas golf package</td><td>0</td><td>18</td><td>0</td><td>0</td><td>0</td><td>4</td><td>0</td><td>0</td></tr>
<tr><td>mesquite tee times</td><td>0</td><td>18</td><td>0</td><td>0</td><td>0</td><td>3.78</td><td>0</td><td>0</td></tr>
<tr><td>las vegas banquet</td><td>0</td><td>18</td><td>0</td><td>0</td><td>0</td><td>2.67</td><td>0</td><td>0</td></tr>
<tr><td>golf vacations mesquite</td><td>0</td><td>18</td><td>0</td><td>0</td><td>0</td><td>6.83</td><td>0</td><td>0</td></tr>
<tr><td>las vegas golfing information</td><td>0</td><td>18</td><td>0</td><td>0</td><td>0</td><td>2.06</td><td>0</td><td>0</td></tr>
<tr><td>mesquite public golf course</td><td>0</td><td>18</td><td>0</td><td>0</td><td>0</td><td>3.39</td><td>0</td><td>0</td></tr>
<tr><td>golf packages to las vegas</td><td>0</td><td>17</td><td>0</td><td>0</td><td>0</td><td>3.53</td><td>0</td><td>0</td></tr>
<tr><td>mesquite nevada golf packages</td><td>0</td><td>17</td><td>0</td><td>0</td><td>0</td><td>5.29</td><td>0</td><td>0</td></tr>
<tr><td>las vegas reception venues</td><td>0</td><td>17</td><td>0</td><td>0</td><td>0</td><td>6.88</td><td>0</td><td>0</td></tr>
<tr><td>reception halls in las vegas</td><td>0</td><td>17</td><td>0</td><td>0</td><td>0</td><td>9.59</td><td>0</td><td>0</td></tr>
<tr><td>palms golf course mesquite</td><td>0</td><td>16</td><td>0</td><td>0</td><td>0</td><td>6.25</td><td>0</td><td>0</td></tr>
<tr><td>mesquite golf vacation</td><td>0</td><td>16</td><td>0</td><td>0</td><td>0</td><td>5.06</td><td>0</td><td>0</td></tr>
<tr><td>golf deals in mesquite</td><td>0</td><td>16</td><td>0</td><td>0</td><td>0</td><td>4.81</td><td>0</td><td>0</td></tr>
<tr><td>las vegasgolf</td><td>0</td><td>16</td><td>0</td><td>0</td><td>0</td><td>3.5</td><td>0</td><td>0</td></tr>
<tr><td>best golf courses mesquite</td><td>0</td><td>16</td><td>0</td><td>0</td><td>0</td><td>2.31</td><td>0</td><td>0</td></tr>
<tr><td>elvis weddings in las vegas</td><td>0</td><td>15</td><td>0</td><td>0</td><td>0</td><td>8.47</td><td>0</td><td>0</td></tr>
<tr><td>Rio Secco golf</td><td>0</td><td>15</td><td>0</td><td>0</td><td>0</td><td>5.73</td><td>0</td><td>0</td></tr>
<tr><td>cili restaurant vegas</td><td>0</td><td>15</td><td>0</td><td>0</td><td>0</td><td>1.13</td><td>0</td><td>0</td></tr>		

      <tr>
        <td><b>Monthly Totals</b></td>	 
        <td><b>14,689</b></td> 	 
        <td><b>8,542,553</b></td> 	
        <td><b>0.17%</b></td>	
        <td><b>$1.23</b></td> 	
        <td><b>$18,068.14</b></td>		
        <td><b>120</b></td>	
        <td><b>$150.57</b></td>
      </tr>			
    </tbody>
  </table>	
  
