  <h2 id="google-ad-performance">Walters Golf - October 2012 Ad Copy Performance</h2>	
  <h3>Ad Group - Bali Hai</h3>	
  <table class="table">
    <tbody><tr>
      <td class="span1">
        <h1>A</h1>
      </td>
      <td>
        <a href="http://www.balihaigolfclub.com/"><u>Bali Hai Golf Club</u></a><br>
        Treat yourself to the Bali Hai Golf on the Las Vegas Strip only $100.<br>
        <b>www.balihaigolfclub.com</b>
      </td>
      <td>
        <table class="table table-striped table-bordered">
          <tbody><tr>
            <td><b>Destination URL: </b></td>
            <td colspan="7">http://www.balihaigolfclub.com</td>
          </tr>
          <tr>
            <td rowspan="2"></td>
            <td><b>Clicks</b></td>	 
            <td><b>Impressions</b></td> 	
            <td><b>Click Rate</b></td>	
            <td><b>Total Spent</b></td>	
            <td><b>Sales</b></td>	
            <td><b>Conversion Rate</b></td>	
            <td><b>Cost per Sale</b></td>
          </tr>
          <tr>
            <td>304</td>	 
            <td>9,065</td> 	
            <td>3.35%</td>	
            <td>$89.73</td> 	
            <td>1</td> 	
            <td>0.33%</td>	
            <td>$89.73</td> 
          </tr>
        </tbody></table>
      </td>
    </tr>
    <tr>
      <td class="span1">
        <h1>B</h1>
      </td>
      <td>
        <a href="http://www.balihaigolfclub.com/"><u>Bali Hai Golf Club</u></a><br>
        Treat yourself to the Bali Hai Golf on the Las Vegas Strip only $100.<br>
        <b>www.balihaigolfclub.com</b>
      </td>
      <td>
        <table class="table table-striped table-bordered">
          <tbody><tr>
            <td><b>Destination URL: </b></td>
            <td colspan="7">http://www.balihaigolfclub.com</td>
          </tr>
          <tr>
            <td rowspan="2"></td>
            <td><b>Clicks</b></td>	 
            <td><b>Impressions</b></td> 	
            <td><b>Click Rate</b></td>	
            <td><b>Total Spent</b></td>	
            <td><b>Sales</b></td>	
            <td><b>Conversion Rate</b></td>	
            <td><b>Cost per Sale</b></td>
          </tr>
          <tr>
            <td>304</td>	 
            <td>9,065</td> 	
            <td>3.35%</td>	
            <td>$89.73</td> 	
            <td>1</td> 	
            <td>0.33%</td>	
            <td>$89.73</td> 
          </tr>
        </tbody></table>
      </td>
    </tr>
    <tr>
      <td class="span1">
        <h1>C</h1>
      </td>
      <td>
        <a href="http://www.balihaigolfclub.com/"><u>Bali Hai Golf Club</u></a><br>
        Treat yourself to the Bali Hai Golf on the Las Vegas Strip only $100.<br>
        <b>www.balihaigolfclub.com</b>
      </td>
      <td>
        <table class="table table-striped table-bordered">
          <tbody><tr>
            <td><b>Destination URL: </b></td>
            <td colspan="7">http://www.balihaigolfclub.com</td>
          </tr>
          <tr>
            <td rowspan="2"></td>
            <td><b>Clicks</b></td>	 
            <td><b>Impressions</b></td> 	
            <td><b>Click Rate</b></td>	
            <td><b>Total Spent</b></td>	
            <td><b>Sales</b></td>	
            <td><b>Conversion Rate</b></td>	
            <td><b>Cost per Sale</b></td>
          </tr>
          <tr>
            <td>304</td>	 
            <td>9,065</td> 	
            <td>3.35%</td>	
            <td>$89.73</td> 	
            <td>1</td> 	
            <td>0.33%</td>	
            <td>$89.73</td> 
          </tr>
        </tbody></table>
      </td>
    </tr>
    <tr>
      <td class="span1">
        <h1>D</h1>
      </td>
      <td>
        <a href="http://www.balihaigolfclub.com/"><u>Bali Hai Golf Club</u></a><br>
        Treat yourself to the Bali Hai Golf on the Las Vegas Strip only $100.<br>
        <b>www.balihaigolfclub.com</b>
      </td>
      <td>
        <table class="table table-striped table-bordered">
          <tbody><tr>
            <td><b>Destination URL: </b></td>
            <td colspan="7">http://www.balihaigolfclub.com</td>
          </tr>
          <tr>
            <td rowspan="2"></td>
            <td><b>Clicks</b></td>	 
            <td><b>Impressions</b></td> 	
            <td><b>Click Rate</b></td>	
            <td><b>Total Spent</b></td>	
            <td><b>Sales</b></td>	
            <td><b>Conversion Rate</b></td>	
            <td><b>Cost per Sale</b></td>
          </tr>
          <tr>
            <td>304</td>	 
            <td>9,065</td> 	
            <td>3.35%</td>	
            <td>$89.73</td> 	
            <td>1</td> 	
            <td>0.33%</td>	
            <td>$89.73</td> 
          </tr>
        </tbody></table>
      </td>
    </tr>								
  </tbody></table>	
  
  <h3>Ad Group - Another Ad Group</h3>	
  <table class="table">
    <tbody><tr>
      <td class="span1">
        <h1>A</h1>
      </td>
      <td>
        <a href="http://www.balihaigolfclub.com/"><u>Bali Hai Golf Club</u></a><br>
        Treat yourself to the Bali Hai Golf on the Las Vegas Strip only $100.<br>
        <b>www.balihaigolfclub.com</b>
      </td>
      <td>
        <table class="table table-striped table-bordered">
          <tbody><tr>
            <td><b>Destination URL: </b></td>
            <td colspan="7">http://www.balihaigolfclub.com</td>
          </tr>
          <tr>
            <td rowspan="2"></td>
            <td><b>Clicks</b></td>	 
            <td><b>Impressions</b></td> 	
            <td><b>Click Rate</b></td>	
            <td><b>Total Spent</b></td>	
            <td><b>Sales</b></td>	
            <td><b>Conversion Rate</b></td>	
            <td><b>Cost per Sale</b></td>
          </tr>
          <tr>
            <td>304</td>	 
            <td>9,065</td> 	
            <td>3.35%</td>	
            <td>$89.73</td> 	
            <td>1</td> 	
            <td>0.33%</td>	
            <td>$89.73</td> 
          </tr>
        </tbody></table>
      </td>
    </tr>
    <tr>
      <td class="span1">
        <h1>B</h1>
      </td>
      <td>
        <a href="http://www.balihaigolfclub.com/"><u>Bali Hai Golf Club</u></a><br>
        Treat yourself to the Bali Hai Golf on the Las Vegas Strip only $100.<br>
        <b>www.balihaigolfclub.com</b>
      </td>
      <td>
        <table class="table table-striped table-bordered">
          <tbody><tr>
            <td><b>Destination URL: </b></td>
            <td colspan="7">http://www.balihaigolfclub.com</td>
          </tr>
          <tr>
            <td rowspan="2"></td>
            <td><b>Clicks</b></td>	 
            <td><b>Impressions</b></td> 	
            <td><b>Click Rate</b></td>	
            <td><b>Total Spent</b></td>	
            <td><b>Sales</b></td>	
            <td><b>Conversion Rate</b></td>	
            <td><b>Cost per Sale</b></td>
          </tr>
          <tr>
            <td>304</td>	 
            <td>9,065</td> 	
            <td>3.35%</td>	
            <td>$89.73</td> 	
            <td>1</td> 	
            <td>0.33%</td>	
            <td>$89.73</td> 
          </tr>
        </tbody></table>
      </td>
    </tr>
    <tr>
      <td class="span1">
        <h1>C</h1>
      </td>
      <td>
        <a href="http://www.balihaigolfclub.com/"><u>Bali Hai Golf Club</u></a><br>
        Treat yourself to the Bali Hai Golf on the Las Vegas Strip only $100.<br>
        <b>www.balihaigolfclub.com</b>
      </td>
      <td>
        <table class="table table-striped table-bordered">
          <tbody><tr>
            <td><b>Destination URL: </b></td>
            <td colspan="7">http://www.balihaigolfclub.com</td>
          </tr>
          <tr>
            <td rowspan="2"></td>
            <td><b>Clicks</b></td>	 
            <td><b>Impressions</b></td> 	
            <td><b>Click Rate</b></td>	
            <td><b>Total Spent</b></td>	
            <td><b>Sales</b></td>	
            <td><b>Conversion Rate</b></td>	
            <td><b>Cost per Sale</b></td>
          </tr>
          <tr>
            <td>304</td>	 
            <td>9,065</td> 	
            <td>3.35%</td>	
            <td>$89.73</td> 	
            <td>1</td> 	
            <td>0.33%</td>	
            <td>$89.73</td> 
          </tr>
        </tbody></table>
      </td>
    </tr>
    <tr>
      <td class="span1">
        <h1>D</h1>
      </td>
      <td>
        <a href="http://www.balihaigolfclub.com/"><u>Bali Hai Golf Club</u></a><br>
        Treat yourself to the Bali Hai Golf on the Las Vegas Strip only $100.<br>
        <b>www.balihaigolfclub.com</b>
      </td>
      <td>
        <table class="table table-striped table-bordered">
          <tbody><tr>
            <td><b>Destination URL: </b></td>
            <td colspan="7">http://www.balihaigolfclub.com</td>
          </tr>
          <tr>
            <td rowspan="2"></td>
            <td><b>Clicks</b></td>	 
            <td><b>Impressions</b></td> 	
            <td><b>Click Rate</b></td>	
            <td><b>Total Spent</b></td>	
            <td><b>Sales</b></td>	
            <td><b>Conversion Rate</b></td>	
            <td><b>Cost per Sale</b></td>
          </tr>
          <tr>
            <td>304</td>	 
            <td>9,065</td> 	
            <td>3.35%</td>	
            <td>$89.73</td> 	
            <td>1</td> 	
            <td>0.33%</td>	
            <td>$89.73</td> 
          </tr>
        </tbody></table>
      </td>
    </tr>								
  </tbody></table>	
  
