<h4>Microsoft Highlights</h4>                  
Total Visits: 3,172 - 2% higher than last month (3,097)<br>
Total Cost: $4,080.47 - 9% higher than last month ($3,731.89)<br>
Cost per Click: $1.29 - 7% higher than last month ($1.21)<br>      
<br>
Top Traffic Producers:<br> 
<ol>
  <li>'Las vegas golf' - Clicks: 210 (7%) Cost: $291.16 (7%) Avg. Rank: 3</li>
  <li>'Golf in las vegas' - Clicks: 201 (6%) Cost: $467.04 (11%) Avg. Rank: 3</li>
  <li>'Las vegas golf courses' - Clicks: 157 (5%) Cost: $275.92 (7%) Avg. Rank: 4</li>
  <li>'Las vegas golf packages' - Clicks: 147 (5%) Cost: $374.10 (9%) Avg. Rank: 3</li>
</ol>
Most Cost Effective Terms:<br> 
<ol>
  <li>'Royal links las vegas' - Clicks: 86 (3%) Cost: $7.82 (1%) Avg. Rank: 1</li>
  <li>'Desert Pines golf club' - Clicks: 74 (2%) Cost: $17.01 (1%) Avg. Rank: 3</li>
  <li>'Bali hai golf club' - Clicks: 125 (4%) Cost: $94.87 (2%) Avg. Rank: 2</li>
  <li>'Royal links golf' - Clicks: 54 (2%) Cost: $19.01 (1%) Avg. Rank: 1</li>
</ol>
Most Expensive Terms:<br> 
<ol>
  <li>'Golf in las vegas' - Clicks: 201 (6%) Cost: $467.04 (11%) Avg. Rank: 3</li>
  <li>'Las vegas golf packages' - Clicks: 147 (5%) Cost: $374.10 (9%) Avg. Rank: 3</li>
  <li>'Golf courses las vegas nevada' - Clicks: 26 (1%) Cost: $128.52 (3%) Avg. Rank: 1</li>
  <li>'Las vegas golf courses' - Clicks: 157 (5%) Cost: $275.92 (7%) Avg. Rank: 4</li>              
</ol>
