<h4>Reporting Key</h4>          
'Keyword' (Search Term/Keyword)<br>
Clicks: [number of clicks] [(percentage of overall traffic)]<br>
Cost: [overall cost of keyword] [(percentage of overall cost)]<br>
sales: [number of sales] [(percentage of overall Sales)]<br>
