<span style="font-size:14;"><%= agency.name %></span>
<% if agency.logo_file_name.nil? %>
<span style="font-size: 20px;font-weight: bold;margin-right:20px;"><%=agency.name%></span>
<% else %>
<%=wicked_pdf_image_tag_for_public agency.logo.url(:footer)%> 
<% end %>
