<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>smart sem</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

  <%= wicked_pdf_stylesheet_link_tag    "application", :media => "all" %>
  <style type="text/css" media="screen,print">
    body {
      width: 150%;
    }
  </style>
  <%= wicked_pdf_javascript_include_tag "application" %>
</head>
<body>

<%= yield %>

</body>
</html>

